*, *:before, *:after {
    box-sizing: border-box
}

/* Colour definitions */

$brand-dark: #2E323F;
$brand-primary: #3B4050;
$brand-light: #6F737F;
$brand-secondary: #A59678;
$white: #FFF;
$grey-light: #F2F2F2;

/* Font families */
$font-text: 'Montserrat', sans-serif;
$font-headline: 'Saira Condensed', sans-serif;

/* Mixins */

@mixin button {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    color: $white;
    background-color: $brand-secondary;
    border-radius: 100px;
    padding: 0.5em 1em;
    cursor: pointer;

    &:hover, &:focus {
        opacity: .75;
    }
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 1.8rem;
    font-family: $font-text;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
    font-family: $font-headline;
    font-size: 9rem;
    font-weight: 900;
    line-height: 1em;
    color: $white;
}

h2 {
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    font-family: $font-headline;
    color: $brand-secondary;
}

p {
    color: $brand-primary;
}

.button {
    @include button;

    font-family: $font-headline;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 80%;
    max-width: 1200px;
}

header {
    background-color: $brand-dark;
    padding: 1em 0;
    text-align: center;
}

.nav {
    display: none;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: $font-headline;
}

.nav--visible {
    display: block;
}

.nav__list {
    padding: 0;
}

.nav__item {
    padding: 0.25em 0;
}

.nav__link {
    color: white;
    text-transform: uppercase;
}

.nav__link--button {
    @include button;

    padding: 0.2em 1em;
}

.nav-toggle {
    cursor: pointer;
    width: 3em;
    height: 3em;
    border: 0;
    border-radius: 50%;
    background: white;
    color: #2E323F;

    position: absolute;
    right: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: #2E323F;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.hero {
    background-color: $brand-primary;
    padding: 4em 0;
}

.highlight {
    color: $brand-secondary;
}

.hero__text {
    p {
        color: $white;
        font-size: 2.4rem;
        line-height: 1.5em;
    }

    .button {
        font-size: 2.4rem;
        letter-spacing: 1px;
    }
}

.strip {
    background-color: $grey-light;
    padding: 4em 0;

}

.strip__text {
    text-align: center;
    margin-bottom: 4em;
    
    &:last-child {
        margin-bottom: 0;
    }
}

